<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634404079567-vr5975028l5d5f263ha30c1phkg47gfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634404079567-vr5975028l5d5f263ha30c1phkg47gfh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>634404079567-oqt5f4hv4vco4peq2hfad8nm5a7jbodp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNye84tUDgZrgWbL7isV1aa8kGFqGTEiA</string>
	<key>GCM_SENDER_ID</key>
	<string>634404079567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pbs.ios</string>
	<key>PROJECT_ID</key>
	<string>pachka-buysell</string>
	<key>STORAGE_BUCKET</key>
	<string>pachka-buysell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634404079567:ios:b5a61c3454aa24b0ba34ba</string>
	<key>DATABASE_URL</key>
	<string>https://pachka-buysell-default-rtdb.firebaseio.com</string>
</dict>
</plist>